* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform:capitalize;
    text-decoration: none;
}

body {
    min-height: 100vh;
    /* background:url(animes2.jpg) no-repeat;
    background-size: cover;
    background-position: center */

}

header {
    position: fixed;
    top: 0; left: 0; right: 0; 
    background: rgba(145, 152, 179, 0.1);
    box-shadow: 2px 2px 5px #555;
    padding:0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo {
    font-weight: bold;
    font-size: 25px;
    color: #333;
    text-decoration: none;
}

header .navbar ul{
    list-style: none;
}
header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a{
    font-size: 20px;
    padding:20px;
    /* color: rgb(208, 240, 249); */
    color:black;
    display: block;
}

header .navbar ul li a:hover{
    border-radius: 4px;
    background-color:#77c8d4 ;
    color: #fff;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background-color: #fff;
    display:none;
}

header .navbar ul li ul input{
    border: none;
    border-radius: 4px;
    width: 200px;
    background-color: lightcyan;
    height:50px;
    font-size: 18px;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.1);
    background: rgb(255, 255, 255);
}


header .navbar ul li ul li ul {
    left : 200px;
    top :0;
}


header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
    display: initial;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}


@media(max-width:991px){
    header {
        padding:20px;
    }

    header label {
        display: initial;
        color:rgb(177, 255, 249);
    }

    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: rgba(145, 152, 179, 0.1);
        border-top: 1px solid rgba(0,0,0,.1);
        display: none;
    }

    header .navbar ul li {
        width: 100%;   
    }

    header .navbar ul li ul {
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li {
        background: rgb(255, 255, 255);
    }
    header .navbar ul li ul li ul{
        width: 100%;
        left: 0;
    }
    header .navbar ul li ul input {
        background: rgb(255, 255, 255);
        width: 100%;
    }

    #menu-bar:checked ~ .navbar{
        display:initial
    }

}









