*{
    /* color: #F1F1F1; */
    font-family: Arial,sans-serif;
    font-size: 16px;
    margin: 0;
}

#full-size-background{
    z-index: -1;
    background-image: radial-gradient(#2d2f33,black);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

/* HEADER ******************************************************************************************************************************************/

header{
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    z-index: 20;
    display: flex;
    align-items: center;
}

header .ligne{
    align-items: stretch;
}

.colonne2{
    display: flex;
    justify-content: flex-end;
}

.colonne2 ul{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
}

#logo img{
    vertical-align: middle;
    background: black;
    width: 90px;
    border-radius: 5px;
    margin-right: 100px;
}

header li{
    list-style-type: none;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

header li a{
    display: flex;
    align-items:flex-end;
    justify-content: center;
    color: #F1F1F1;
    font-size: small;
    text-decoration: none;
    height: 20px;
    margin: 10px;
    margin-bottom: 0px;
}

header li a:hover{
    color: #2e54d0;
}

#sub_header2{
    display:flex;
    border-bottom: 1px solid #353535;
}

/* MAIN ******************************************************************************************************************************************/

main{
    margin-top:250px;
    align-items: center;
    color: #F1F1F1;
}

#index{
    margin-top:250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F1F1F1;
}

#logo_accueil img{
    height:30vh;
}

.center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.error{
    color:red;
    font-weight:bold;
}

.dbMessage{
    color:lawngreen;
    font-weight:bold;
}

.small{
    width:100px;
    padding-left: 5%;
}

.form input, a{
    color:black;
}

#type_submenu{
    display: none;
}

.ajouter-div-form{
    display: flex;
    justify-content: center;
}

#form-ajouter{
    display: flex;
    flex-direction: column;
    /* max-width: 50%; */
    align-items: stretch;
}

table th, td{
    border: 1px solid;
    border-collapse: collapse;
    max-width: 50vw;
  }

  table{
    border-collapse: collapse;
    min-width : 70vw;
    margin : 4% 0%;
  }

.msg-error {
    text-align: center;
    font-size:1.2em;
}

#back-to-signin {
    color: white;
}

/* FOOTER ******************************************************************************************************************************************/

footer{
    margin-top:100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F1F1F1;
}