@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform:capitalize;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background-color: #000;
    color: #fff;
}

header {
    position: fixed;
    top: 0; left: 0; right: 0; 
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(95,144,144,1) 51%, rgba(174,181,149,0.9139005944174545) 83%, rgba(150,164,167,1) 100%);
    box-shadow: 2px 2px 5px #555;
    padding:0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo {
    font-weight: bold;
    font-size: 25px;
    color: #83acf1;
    text-decoration: none;
    font-family: 'Aclonica', sans-serif;
}
header .logo span {
    font-weight: bold;
    font-size: 25px;
    color: #c0d5f9;
    font-family: 'Aclonica', sans-serif;
}

header .navbar ul{
    list-style: none;
}
header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding:17px;
    color:#000;
    display: block;
}

header .navbar ul li a:hover{
    border-radius: 4px;
    background-color:#308491 ;
    color: #fff;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background-color: #fff;
    display:none;
}

header .navbar ul li ul input{
    border: none;
    border-radius: 4px;
    width: 200px;
    background-color: lightcyan;
    height:50px;
    font-size: 18px;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.1);
    background: rgb(255, 255, 255);
}

header .navbar ul li ul li ul {
    left : 200px;
    top :0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
    display: initial;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}

.grid {
    max-width: 1300;
    width: 90%;
    height: auto;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: center;
    grid-gap: 10px;
    background: #000;
}

img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.container-user-info {
    text-align: center;
    margin: auto;
}
.bloc-info-user {
    display: inline-block;
    background-color: #000;
    color: #fff;
}
.bloc-info-user table {
    margin: 50px;
}
.bloc-info-user table tr {
    text-align: justify;
}
.bloc-info-user table tr td{
    padding: 10px 0px;
    font-size: 17px;
}
.bloc-info-user table tr td a{
    text-decoration: none;
    color: #fff;
}
.bloc-info-user table tr td a:hover{
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
.bloc-info-user h1 {
    margin: 50px;
}

.container-add-anime {
    text-align: center;
    background-color: red;
    margin: 60px 0px;;
}
.container-add-anime h1 {
    margin: 50px;
}
.bloc-add-anime {
    display: inline-block;
    background-color: #000;
    color: #fff;
    margin: 60px 0;
}
.heightextinput {
    max-width:100%;
    height: 90px;
    text-align: justify;
    
}

.bloc-animes, .bloc-animes-user {
    position: relative;
    padding: 100px 0px;
    height: 100vh;
    background-color: #000;
}

.bloc-user-update {
    position: relative;
    padding: 100px 0px 10px 0px;
    height: 100vh;
    background-color: lightcoral;
}

.container-about-us {
    text-align: center;
    /* background-color: red; */
    margin: 50px 0px;
    /* padding: 70px 10px; */
}
.bloc-about-us{
    max-width: 500px;
    display: inline-block;
    /* background-color: blue; */
    color: #fff;
    margin: 100px 0px;
    padding: 80px 10px;
}
.bloc-about-us h1 {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}
.bloc-about-us .text-about-us {
    text-align: justify;
    font-weight: bold;
    font-size: 17px;
}


.link-icon {
    padding: 20px 10px;
}
.icon {
    height: 60px;
    width: 60px;
}


.title-manga {
    position: relative;
    top: 50%;
}

.footer {
    text-align: center;
    padding: 30px;
}

.footer footer{
    color: rgb(218, 207, 207);
    font-size: 0.7em;
}

@media(max-width:991px){
    header {
        padding:20px;
    }

    header label {
        display: initial;
        color: white;
    }

    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: rgba(145, 152, 179, 0.1);
        background: lightgray;
        border-top: 1px solid rgba(0,0,0,.1);
        display: none;
    }

    header .navbar ul li {
        width: 100%;   
    }

    header .navbar ul li ul {
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li {
        background: rgb(255, 255, 255);
    }
    header .navbar ul li ul li ul{
        width: 100%;
        left: 0;
    }
    header .navbar ul li ul input {
        background: rgb(255, 255, 255);
        width: 100%;
    }

    #menu-bar:checked ~ .navbar{
        display:initial
    }
    .bloc-about-us{
        max-width: 300px;
        display: inline-block;
        /* background-color: blue; */
        color: #fff;
        margin: 60px 0px;
        padding: 40px 10px;
    }
    .bloc-about-us h1 {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        padding: 15px;
    }
    .bloc-about-us .text-about-us {
        text-align: justify;
        font-weight: bold;
        font-size: 13px;
        padding: 5px;
    }
    .link-icon {
        padding: 20px 10px;
    }
    .icon {
        height: 33px;
        width: 33px;
    }

    
    .bloc-info-user table tr td{
        padding: 10px 0px;
        font-size: 12px;
    }

    .bloc-info-user table tr td a:hover{
        text-decoration: none;
        color: #000;
        background-color: #fff;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .bloc-info-user h1 {
        margin: 30px;
    }

}









